#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1

/ {
    keymap {
        compatible = "zmk,keymap";

        DEFAULT { // Layer 0
            // ------------------------
            // |     F     |     X     |     bt_reset     |
            bindings = <
                &kp F   &kp X   &bt BT_CLR  &mo LOWER   
            >;

             sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
     
        };

        LOWER { // Layer 1
            // ------------------------
            // |     D     |     N     |     SPACE     |
            bindings = <
                &kp D   &kp N   &kp SPACE  &none   
            >;
        };
    };
 };