#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // ------------------------
            // |     F     |     X     |     studio_unlock     |     bt_reset     |
            bindings = <
                &kp F   &kp F   &studio_unlock  &bt BT_CLR
               
            >;
        };
    };
 };